.footer{
    margin-top: 50px;
    height: 200px;
    background-image: linear-gradient(#1c1e19da, #1C1E19);
    width: 100%;
}
.links{
    display: flex;
    justify-content: space-between;
   
}
.footerContent{
margin: 35px;
color: white;

}
.copyrights{
    color: white;
    background-color: #2727279f;
    padding: 15px;
    text-align: center;

    width: 100%;
}